.nav-btn {
    color: white;
}

.nav-btn:hover {
    color: cornflowerblue;
}

.box {
    /* width: 300px; */
    box-shadow: 1px 1px 2px grey;
}

.box:hover {
    transition-duration: 300ms;
    box-shadow: 2px 2px 5px grey;
}

.link {
    text-decoration: none;
    color: black;
}

.link:hover {
    text-decoration: none;
    color: black;
}